/* color palette from <https://github.com/vuejs/theme> */
@import 'reset';
@import 'mixins';
@import 'typography';

:root {
  --c-white: #ffffff;
  --c-black: #1f1f1f;

  --c-darkb-brown: #43441a;
  --c-light-violet: #dccae2;
  --c-ash-violet: #9c99bb;
  --c-violet: #892fd0;
  --c-orange: #c84c09;
  --c-dark-green: #436436;
  --c-dark-blue: #020887;
  --c-red: #a61c3c;
  --c-tiffany-blue: #87d2d4;

  --c-green: #cfffb3;
  --c-blue: #072ac8;
  --c-yellow: #f8d537;
  --c-new: #a44200;
  --c-velvet: #7a306c;
  --c-pink: #8e8dbe;
  --c-coyote: #8e7a47;

  // component colors
  --c-link: var(--c-dark-black);
  --c-link-hover: var(--c-violet);

  --c-button-text: var(--c-white);
  --c-button-bg: var(--c-white);
  --c-button-bg-hover: var(--c-violet);

  --font-primary: 'Nunito', sans-serif;
  --font-secondary: 'Space Mono', monospace;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border-radius-normal: 1rem;
}

/* semantic color variables for this project */
:root {
  --c-text: var(--c-black);
  --c-link: var(--c-velvet);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(16px, 1.2vw, 24px);
}

body {
  color: var(--c-text);
  background-color: var(--c-light-violet);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  pointer-events: none;
}

.full-screen {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-moz-selection {
  color: var(--c-white);
  background: var(--c-violet);
}

::selection {
  color: var(--c-white);
  background: var(--c-violet);
}

.round-block {
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  @include for-tablet {
    padding: 1rem 2rem 2rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
  }
}

.line-wrap,
.word-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid rgba(black, 0.2);
}

.clear-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.line {
  transform-origin: top left;
}

.wr {
  padding: 0.5rem 0;

  @include for-tablet {
    padding: 1rem 0 3rem;
  }
}

.block-title {
  margin-bottom: 1rem;

  @include for-tablet {
    margin-bottom: 2rem;
  }
}
